[data-theme="one-theme"] {
  /* Neutral / Text Styles */
  --N500: #8292b4;
  --N600: #445578;
  --N800: #1b2437;
  /* Neutral/Light */
  --N200: #eaf1f5;
  --N300: #d3e1ea;
  --N400: #e3e7f1;
  --N150: #f5f6f9;
  --N120: #fafbfe;
  --N100: #ffffff;
  /* Action */
  --P100: #f1f5ff;
  --P200: #b0c8ff;
  --P300: #88adff;
  --P400: #6191ff;
  --P500: #457eff;
  --P600: #4c8dff;
  /* Secondary Action */
  --S100: #fff1ed;
  --S200: #ffbfad;
  --S300: #ff937a;
  --S400: #ff7555;
  /* Accent */
  --A100: #f2fcff;
  --A200: #c3f0ff;
  --A250: #7ddbf9;
  --A300: #fefbef;
  --A400: #f8eab7;
  --A450: #ffc000;
  --A500: #f7f8ff;
  --A600: #dfe2ff;
  --A650: #9ca5f5;
  /* Information */
  --I100: #fdefef;
  --I200: #ee5c5c;
  --I300: #fff5df;
  --I400: #fdaa29;
  --I500: #e8f9f6;
  --I600: #18c1a3;
  --I700: #8ddfbc;
  /* Badges */
  --B100: #ecf5ff;
  --B200: #6683a5;
  --B300: #0f0e0c;
  --B400: #e98000;
  --B500: #f2f4ff;
  --B600: #826cce;
  --B700: #fff2f1;
  --B800: #ff6360;
  /* Miscellaneous */
  --M100: #ebf3ff;
  --M200: #f7f7f7;
  --M300: #fffbfa;
  --M400: #fff2f1;
  --M500: #ffe7e1;
  --M600: #fdd8cf;
  --M700: #dbe8ef;
  --M800: #d8d8d8;
  --border: 1px solid #e7e7f1;
  --br10: 10px;
  --background: #f5f5f5;
  /* Font Colors */
  --F666: #666666;
  --FCCCCCC: #cccccc;
  /* Border Colors */
  --B1: #eeeeee;
  --amber: #ffc000; }
